.button {
    z-index: 0;
    margin: auto;
    width: 10%;
    background-color: #e2dbdc;
    border-radius: 5px;
    text-align: center;
    color: black;
}

.button:hover {
    cursor: pointer;
}

.button-ok {
    margin-right: 2%;
    margin-bottom: 2%;
}

.button-ok:active {
    background-color: #fff8f9;
}

.text-center {
    margin: auto;
    text-align: center;
}

.popup {
    margin: auto;
    height: auto;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border-radius: 15px;
    background-color: rgba(15, 15, 15, 0.71);
    display: none;
    color: #e9e9e9;
    border: 7px solid rgba(72, 67, 72, 0.71);
    z-index: 1000;
}

.content-popup {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

.close-popup {
    text-align: center;
    background-color: rgba(65, 63, 66, 0.71);
    margin-left: 97.5%;
    margin-right: -0.8%;
    border-radius: 8px;

    margin-top: -0.8%;
}

.close-popup:hover {
    cursor: pointer;
}

.background-popup {
    background-color: rgba(10, 11, 11, 0.72);
    display: none;
    z-index: 999;
    width: 120%;
    height: 120%;
    position: fixed;
    margin-top: -10%;
    margin-left: -10%;
}

